.carousel-item {
  height: 400px;
}
.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url("img/img2.png");
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url("img/img3.png");
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url("img/img2.png");
}
